<!DOCTYPE html>
<html ng-app="example">
    <head>
        <title>Blakgeek Calendar Example</title>
        <script src="//use.typekit.net/nuk7nlg.js"></script>
        <script>try {Typekit.load();} catch(e) {}</script>
        <link href="reset.css" type="text/css" rel="stylesheet">
        <link href="../dev/bgmodals.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <style>
            body {
                font-family: "proxima-nova-soft", sans-serif;
                font-size: 16px;
            }

            bgm-modal {

                pointer-events: all;
            }

            bgm-modal input {
                width: 100%;
            }

            .rise-up {
                z-index: 500;
            }
        </style>
    </head>
    <body ng-controller="ExampleCtrl">
        <bgm-modals bgm-group="group1">
            <bgm-modal bgm-title="{{title}}" bgm-id="bob">
                <form>
                    <input placeholder="enter stuff">
                    <input placeholder="enter stuff">
                    <input placeholder="enter stuff">
                </form>
                <bgm-buttons>
                    <button ng-click="sup()">Sup?</button>
                    <button ng-click="hey()">Hey</button>
                </bgm-buttons>
            </bgm-modal>
            <bgm-modal bgm-title="Group I Example Modal II" class="bgm-open"></bgm-modal>
            <bgm-modal bgm-title="Group I Example Modal III" bgm-id="mark"></bgm-modal>
            <bgm-confirm bgm-title="Confirm This" bgm-id="confirm" bgm-yep-text="Yep" bgm-nope-text="Nope">
                Do you really wanna do this?
            </bgm-confirm>
            <bgm-alert bgm-title="Guess What?" bgm-id="alert" bgm-ok-text="Okey Dokey">
                You've been put on alert.
            </bgm-alert>
        </bgm-modals>
        <bgm-modals bgm-group="group2">
            <bgm-modal bgm-title="{{title}}" bgm-id="bob">
                <form>
                    <input placeholder="enter stuff">
                </form>
                <bgm-buttons>
                    <button ng-click="sup()">Sup?</button>
                    <button ng-click="hey()">Hey</button>
                </bgm-buttons>
            </bgm-modal>
            <bgm-modal bgm-title="Group II Example Modal II" class="bgm-open"></bgm-modal>
            <bgm-modal bgm-title="Group II Example Modal III" bgm-id="mark"></bgm-modal>
            <bgm-confirm bgm-title="Confirm This" bgm-id="confirm" bgm-yep-text="Yep" bgm-nope-text="Nope">
                Do you really wanna do this?
            </bgm-confirm>
            <bgm-alert bgm-title="Guess What?" bgm-id="alert" bgm-ok-text="Okey Dokey">
                You've been put on alert.
            </bgm-alert>
        </bgm-modals>
        <button ng-click="title = 'changed'">Change Modal Title</button>
        <button ng-click="showModal('group1.bob')">Show Modal Bob I</button>
        <button ng-click="showModal('group2.bob')">Show Modal Bob II</button>
        <button ng-click="showModal('mark')">Show Modal Mark</button>
        <button ng-click="confirmIt()">Confirm It</button>
        <button ng-click="alertIt()">Alert!</button>
        <button class="rise-up" ng-click="closeAll()">Close All Modals</button>
        {{title}}
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../dev/bgmodals.js"></script>
        <script src="./index.js"></script>
    </body>
</html>